@using CollectionsManagementService.VievModels
@model UpdateCollectionViewModel
<h1>Update the @Model.Name collection</h1>
<p>On this page you can change the name or the description of the collection.<br />You can also change names of the custom fields in your collection.</p>

<form method="post">
    <div>
        <div class="form-group">
            <label asp-for="Name">Change collection name:</label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Change collection description:</label>
            <input class="form-control" asp-for="Description" />
            <span asp-validation-for="Description"></span>
        </div>
        <input type="hidden" asp-for="CollectionId" />
        <h3>Update the custom fields of the collection</h3>
        <div class="form-group">
            @for (int i = 0, j = 1; i < Model.CollectionFields.Count; i++, j++)
            {
                <div class="form-group">
                    <label asp-for="CollectionFields[i].FieldName">Field #@j @Model.CollectionFields[i].FildTypeName Field:</label>
                    <input class="form-control" asp-for="CollectionFields[i].FieldName" />
                    <input type="hidden" asp-for="CollectionFields[i].FieldId" />
                </div>
            }
        </div>
    </div>
    <button class="btn btn-outline-success" type="submit">Update Collection</button>
</form>
