@model string

<div class="px-3" style="padding-top: 7%">
    <h2 class="display-6">Your report has been sent successfully!</h2>
    <div class="lead fs-5">
        There is the <a class="link-primary" href="@Model">link to your Jira ticket</a>. <br />
        You must confirm your email address for the first time. Log in to Jira if you want to track your report progress.
    </div>
</div>
